<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app
	PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
	"http://java.sun.com/dtd/web-app_2_3.dtd">

<web-app>

  <!--  Servlets -->
  <servlet>
    <servlet-name>pokedexReaderImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.fokemon_webApp.server.PokedexReaderImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>pokedexReaderImpl</servlet-name>
    <url-pattern>/gwtcanvasdemo/pokedexReader</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>LoginServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.fokemon_webApp.server.LoginServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServiceImpl</servlet-name>
	<url-pattern>/loginui/login</url-pattern>  
  </servlet-mapping>
  
   <servlet>
    <servlet-name>LoadProfileServiceImpl</servlet-name>
    <servlet-class>edu.ycp.cs320.fokemon_webApp.server.LoadProfileServiceImpl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoadProfileServiceImpl</servlet-name>
	<url-pattern>/loginui/loadProfile</url-pattern>  
  </servlet-mapping>

	<!-- Default page to serve -->
	<welcome-file-list>
		<welcome-file>FokemonUI.html</welcome-file>
	</welcome-file-list>

</web-app>
